@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
    background-color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* header area design  */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
}
.brand{
    color:#131313;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 100px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    padding: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #424242;
    background-color: orange;
    padding: 8px 12px;
    transition: 0.3s;
    border: none;
    border-radius: 8px;

}
.navbar ul li a:hover{
    color: #131313;
    background-color: rgb(249, 184, 64);
    cursor: pointer;
}
 /* about section design  */
 .about{
    background-color: rgb(236, 225, 204);
 }
 .about-text{
    margin: 0 auto;
    text-align: center;
    width: 860px;
    padding-top: 70px;
    margin-bottom: 50px; 
 }
 .about-title{
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 10px;
 }
 .about-details{
    color: #424242;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.6;
 }
 .btn{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 20px 24px;
    border-radius: 8px;
    color: white;
    border: none;
 }
 .about-image img{
    width: 100%;
 }
  /* feature area design  */
  .features{
    display: flex;
  }
  .feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .feature-image img{
    width: 342px;
    /* height: 342px; */
  }
  .feature-text{
    width:540px;
    margin: 0 auto;
    text-align: left;
    padding: 200px 100px;
  }
  .feature-title{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .feature-first-span{
    color: #737070;
  }
  .feature-second-span{
    color:#131313;
  }
  .feature-third-span{
    color: #FF900E;
  }
  .feature-details{
    color: #737070;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  /* another feature section styles  */
  #about {
    display: flex;
    margin-top: 100px;
    gap: 40px;
}

.another-feature-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
    width: 60%;
}

.box {
    box-shadow: 0.5px 2px 1.5px .5px #f7f4f4dc;
    margin-bottom: 30px;
    padding: 31px;
    width: 582px;
}

.another-feature-image img {
    width: 100%;
}
.another-feature-title{
    font-size: 2.5rem;
    font-weight: bold;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    
}
.another-feature-details{
    color:#737070;
}
.span-years{
    font-size: 2rem;
}
.span-experience{
    font-size: 1.5rem;
}
.btn-third{
    margin-left: -24px;
    margin-top: -435px;
}

/* facts area styles  */
.fact{
    margin-bottom: 40px;
}
.fact-text{
    margin-top: 50px;
    margin-bottom: 70px;
}
.fact-h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 20px;
}
.fact-p{
    line-height: 1.6;
    color: #424242;
}
.fact-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.card{
    text-align: center;
    border: 1px solid #FF900E;
    width: 210px;
    padding: 30px;
    border-radius:8px;
}
.card img{
    width:30px;

}
.card h5{
    font-size: 1.8rem;
    color: #424242;
}
.card p{
    text-align: center;
    font-size: 1rem;
    color: #737070;
}
/* sponsors area styles  */
.sponsors-text {
    padding-top:80px;
    text-align: center;
    margin: 0 auto;
    width: 542px;
    margin-bottom: 80px;
}

#sponsors {
    margin-top: 50px;
}

.sponsors-title {
    font-size: 2.8rem;
    margin: 10px;
    color: #424242
    font-weight: 700;
}

.sponsors-p {
    color: #737070
    font-size: 1.1rem;
}
.sponsors-svg {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}

.sponsors-svg img {
    width: 150px;
    filter: grayscale(100%);
    margin-bottom: 50px;
}
/* footer area style  */
.footer-area{
    background:wheat;
    text-align: center;
    padding: 20px ;
    margin-bottom: 30px;
}